<nav class="navbar navbar-default navbar-fixed-top navcarbox" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active current">S.Aireni</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li >
          <a routerLink="/" routerLinkActive="active current">Home</a>
        </li>
        <li>
          <a routerLink="/about_us" routerLinkActive="active current">About Us</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shopping
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/jewelleries" routerLinkActive="active current">Jewelleries</a>
            </li>
            <li>
              <a routerLink="/mobilecases" routerLinkActive="active current">Mobile Cases</a>
            </li>
            <li>
              <a routerLink="/accessories" routerLinkActive="active current">Accessories</a>
            </li>
            <li class="divider"></li>
            <li>
              <a routerLink="/others" routerLinkActive="active current">Others</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/contact_us" routerLinkActive="active current">Contact Us</a>
        </li>
        <li class="divider"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user_name}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="!isLoggedIn">
              <a routerLink="/login" routerLinkActive="active current">Login</a>
            </li>
            <li *ngIf="!isLoggedIn">
                <a routerLink="/register" routerLinkActive="active current">Sign up</a>
              </li>
              <li *ngIf="isLoggedIn">
                <a routerLink="/logout" routerLinkActive="active current">Logout</a>
              </li>
          </ul>
        </li>
        <li>
          <a routerLink="/cart" routerLinkActive="active current">Shopping Cart {{itemsQuantity}}</a>
        </li>

        <li class="dropdown" *ngIf=isAdmin>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Module
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/add_product" routerLinkActive="active current">Add Product</a>
            </li>
            <!-- <li>
              <a routerLink="/edit_product/:prod_id" routerLinkActive="active current">Edit/Delete Product</a>
            </li> -->
            <li class="divider"></li>
            <li>
              <a routerLink="/view_contact_entries" routerLinkActive="active current">View Contact Entries</a>
            </li>
            <li>
              <a routerLink="/view_requested_stock_entries" routerLinkActive="active current">View Requested Stock Entries</a>
            </li>
          </ul>
        </li>



      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-collapse -->
</nav>