.container{
    margin-top: 5%;
    background-color: white;
}

table td, table th {
    word-wrap: break-word;
}

table { 
    table-layout: fixed;
}

/* img.jewellery-image {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
li{
    list-style: none;
}

div .img-thumb{
    height: 250px;
}

ul{
    max-width: fit-content;
} */