.container{
    margin-top: 5%;
}
.c11 {
    margin-top: 4%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
	width: 40%;
}

img.product-image {
    max-height: 100%;
    max-width: 100%;
    display: block;
}
li{
    list-style: none;
}

div .img-thumb{
    height: 250px;
}

ul{
    max-width: fit-content;
}