<div class="container">
  <div class="well well-sm">
      <strong>Shopping Cart</strong>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <img class="media-object thumbnail pull-left" [src]="product.product_imagePaths[0]" style="width: 72px; height: 72px;">
                            <div class="media-body">
                                <h4 class="media-heading">{{product.name}}</h4>
                                <!-- <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span> -->
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <select #prodQtyDropdown>
                            <option>{{product.quantity}}</option>
                            <option class="form-control" 
                        (click)="prodQtyChanged(product,item)"
                        *ngFor="let item of createRange(10)">{{item}}</option>
                    </select>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>₹{{product.cost}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>₹{{product.cost*product.quantity}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" (click)="removeFromCart(product)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>₹{{totalCost}}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>₹{{estimatedShippingCost}}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>₹{{totalCost+estimatedShippingCost}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default" 
                        [routerLink]="['/jewelleries']">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success" (click)="placeOrder()">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="c11" *ngIf=placeOrderClicked>
    <div class="well well-sm">
        <strong>User Mailing Details</strong>
    </div>
    <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
    <div class="form-group">
        <label for="name">User Name</label>
        <input type="text" class="form-control span3" name="name" placeholder="Enter your name"
        [(ngModel)]='name' formControlName="name" value="{{name}}">
      </div>
      <div class="alert alert-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">This field is required.</div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control span3" name="email" placeholder="Enter your email"
          [(ngModel)]='email' formControlName="email" value="{{email}}">
          <div class="alert alert-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">This field is required and must be valid.</div>
      </div>

      <div class="form-group">
        <label for="phone">Contact Number</label>
        <input type="phone" class="form-control span3" name="phone" placeholder="Enter your phone"
          [(ngModel)]='phone' formControlName="phone" value="{{phone}}">
          <div class="alert alert-danger" *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">This field is required and must be valid.</div>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <textarea id="address" rows="4" type="text" class="form-control span3" name="address" placeholder="Enter your address"
          [(ngModel)]='address' formControlName="address">{{address}}</textarea>
          <div class="alert alert-danger" *ngIf="!rForm.controls['address'].valid && rForm.controls['address'].touched">This field is required.</div>
      </div>
      <div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
    <div class="alert alert-success" *ngIf="errorMsg">{{errorMsg}}</div>
    <div>
      <input type="submit" value="Place Order" [disabled]=!rForm.valid class="btn btn-primary submit_btn">
      </div>
    </form>
</div>
  <!-- <ul id="products" class="row list-group">
      <li class="item  col-xs-4 col-lg-4" *ngFor="let product of products">
          <div class="thumbnail">
              <div class="img-thumb">
              <img [src]="product.product_imagePaths[0]" class="group list-group-image product-image"  alt="" />
          </div><div class="caption">
                  <h4 class="group inner list-group-item-heading">
                      {{product.name}}</h4>
                  <p class="group inner list-group-item-text">
                      {{product.description}}</p>
                  <div class="row">
                      <div class="col-xs-12 col-md-6">
                          <p class="lead">
                              ₹{{product.cost}}</p>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <a class="btn btn-success" (click)="removeFromCart(product)">Remove from Cart</a>
                      </div>
                  </div>
              </div>
          </div>
        </li>
    </ul> -->
</div>