<div class="container">
  <div class="well well-sm">
      <strong>Mobile Cases</strong>
  </div>
  <ul id="products" class="row list-group">
      <li class="item  col-xs-4 col-lg-4" *ngFor="let case of mobileCases">
          <div class="thumbnail">
              <div class="img-thumb">
              <img [src]="case.product_imagePaths[0]" class="group list-group-image jewellery-image"  alt="" />
          </div><div class="caption">
                  <h4 class="group inner list-group-item-heading">
                      {{case.name}}</h4>
                  <p class="group inner list-group-item-text">
                      {{case.description | slice:0:170}}{{case.description.length > 170 ? '...' : ''}}</p>
                  <div class="row">
                      <div class="col-xs-12 col-md-6">
                          <p class="lead">
                              ₹{{case.cost}}</p>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <a class="btn btn-success" (click)="addToCart(case)">Add to cart</a>
                      </div>
                  </div>
              </div>
          </div>
        </li>
    </ul>
</div>


<!-- <div class="banner">
  <div class="wrapper">
    <h1 class="bannertext">Mobile Cases</h1>
  </div>
</div>
<h4 *ngIf=isEmpty>No Content!</h4>
<ul class="mobilecase">
  <li *ngFor="let case of mobileCases">
    <a href="#">
      <img [src]="case.product_imagePaths[0]" class=" case-image img-thumbnail">
      <h4>{{case.name}} (Gray)</h4>
      <p>₹{{case.cost}}</p>
    </a>
  </li>
</ul> -->